.App {
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  justify-content: center;
  color: white;
  padding: 10px 15%;
}

.project{
  background: grey;
  margin: 10px 0;
  padding: 1px 10px;
}

.detailsCard{
  margin: 10px 0;
  padding: 1px 10px;
  background: grey;
}

.actions{
  background: darkgrey;
  padding: 1px 10px;
  margin: 10px 5px;
}